<?xml version="1.0" encoding="utf-8"?>
<!-- 

Copyright 2008-2009 by Roger Knapp, Licensed under the Apache License, Version 2.0

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

-->
<configuration>
  <appSettings>
    <!--
    You can specify the url to the root of the jira application here, or better yet,
    use subversion to house this information by setting the 'jira:url' property
    in your subversion repository (usually the root checkout folder '/trunk')
    BTW, you can also specify this url as the parameter value when adding this
    plugin within the TortoiseSvn configuration.  Select the "Settings" option on
    the explorer menu, expand the "Hook Scripts" section and select the entry titled
    "Issue Tracker Integration".  Add the appropriate base path, select the plugin
    (you have register the SvnPlugin.dll first), then provide the url.
    
    example:
    <add key="jira:url" value="http://jiraserver:8080" />
    -->
    <add key="jira:url" value="" />
    <add key="jira:proxyurl" value="" />
    <!--
    The entire UI is isolated from jira via a set of interfaces defined in the 
    SvnPlugin assembly.  Implement the IIssuesService interface and all interfaces
    returned from there and change the full class name in the value parameter and
    presto-chango your done.
    -->
    <add key="JiraSVN.Common.Interfaces.IIssuesService" value="JiraSVN.Jira.JiraServices, JiraSVN.Jira, Version=3.0.0.0, Culture=neutral, PublicKeyToken=60c82babf932569d" />
    <!--
    addRevisionComment - controls the addition of the subversion revision to the 
    comments of the issue tracking system.  When this value is set to 'false' the
    revision number of the checkin will be ignored.
    -->
    <add key="jira:addRevisionComment" value="true" />
    <!--
    addFilesComment - controls the appending of the file names to the issue tracking
    comments.  When this value is set to 'false' the file names will not be added
    to the comments.
    -->
    <add key="jira:addFilesComment" value="false" />
    <!--
    resolveUserNames - Set to true to lookup the users name for issues, on large installs
    with alot of users you can set this to false to avoid the lookup time.
    -->
    <add key="resolveUserNames" value="true" />
    <!--
    enableWorklog - Set to true allows entry of timespent and estimated time remaining
    on an issue, recording in the form of (\d+[wdhm](\s\d+[wdhm]))+ 
    -->
    <add key="enableWorklog" value="true" />
    <!-- 
    Custom Fields - You may now hard-code the value for any required custom field in jira 
    by specifying both the action and field name seperated by a ':'.  thus to set customfield_10030
    to the value 'true' for the 'Resolve' action you would specify the following:
    
    <add key="Resolve:customfield_10030" value="true"/>
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>